<a href="https://colab.research.google.com/github/KIISIISHERE/Quartiles-Quantiles-and-Interquartile-Range/blob/main/Quartiles%2C_Quantiles_and_Interquartile_Range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [22]:
#load the data
data=pd.read_csv("/content/Titanic Dataset.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,female
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,female
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,male

In [23]:
#check for null values
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          156
Embarked         0
Gender           0
dtype: int64

In [24]:
#dropp the null values
data.dropna(inplace=True)

In [25]:
#quartiles
age_q1=np.percentile(data['Age'],25)
age_q2=np.percentile(data['Age'],50)
age_q3=np.percentile(data['Age'],75)
#print the results
print("Q1:",age_q1)
print("Q2:",age_q2)
print("Q3:",age_q3)

Q1: 24.0
Q2: 32.5
Q3: 46.5